# InfluxDB v2 Official Python Client & Telemetry Packages
influxdb-client>=1.36.0
reactivex>=4.0.4
python-dateutil>=2.8.2
urllib3>=1.26.0
certifi>=2023.7.22
typing-extensions>=4.5.0
setuptools>=65.0.0
six>=1.16.0
python-dotenv>=1.0.1
psutil>=5.9.8
reportlab>=4.0.0
pillow>=9.0.0
